<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>WEBDEV CREATIONS</title>
    <link rel="stylesheet" type="text/css" href="D:/css And Html programs/ISTE WEBDEV/public/CODE1.css">
  </head>
  <body>
    <div class="logo">
       <img src="logo.jpg">
    </div>
    <header>
      <div class="main"></div>

        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="WEBSITE2.html">Login/Sign Up</a></li>
          <li><a href="WEBSITE3.html"> Play Now </a></li>
          <li><a href="#">About Us </a>
            <ul>
              <li><a href="#">Our Team</a></li>
              <li><a href="#">Resources </a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Upcoming Games</a></li>
            </ul>
          </li>

        </ul>
      </div>
      <div class="title">
        <h1>WEBDEV CREATIONS</h1>

      </div>
      <div class="button">
        <a href="#" class="btn">GALLERY</a>
        <a href="#" class="btn">CONTACT US</a>
    </header>

  </body>
</html>
