<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Login Page</title>
  <link rel="stylesheet" href="../public/CODE2.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="logo">
    <img src="logo.jpg">
</div>
<div class="title">
      <h2>WEBDEV CREATIONS</h2>
</div>
<div class="form-box">
      <div class ="button-box">
        <div id="btn"></div>
      <button type="button" class="toggle-btn" onclick="login()">Sign In</button>
      <button type="button" class="toggle-btn" onclick="register()">Sign Up</button>
      </div>
        <div id="login" class="input-group">
          <input type="text" class="input-field" placeholder="User-id" required>
          <input type="password" class="input-field" placeholder="Password" required>
          <input type="checkbox" class="chech-box"><span>Remember Password</span>
          <button type="button" class="LogIn-btn">LOGIN</button>
        </div>
        <div id="register"class="input-group">
          <div class="input-box">
          <i class="fa fa-user-plus"></i>
          <input type="text" class="input-field" placeholder="User-id" required>
        </div>
          <input type="email" class="input-field" placeholder="Email-id" required>
          <input type="password" class="input-field" placeholder="Password" required>
          <input type="checkbox" class="chech-box"><span>I agree to the terms & conditions.</span>
          <button type="button" class="LogIn-btn">REGISTER</button>
        </div>
        <h5>OR</h5>
        <div class="centerdiv">
        <a href="#"  target="_blank">
        <i class="fa fa-2x fa-facebook"></i>
        </a>
        <a href="#" target="-blank">
        <i class="fa fa-2x fa-instagram"></i>
        </a>
        <a href="#" target="_blank">
        <i class="fa fa-2x fa-twitter"></i>
        </a>
        <a href="#" target="_blank">
        <i class="fa fa-2x fa-linkedin"></i>
        </a>
        </div>

</div>
<script type="text/javascript">
var x = document.getElementById("login");
var y = document.getElementById("register");
var z = document.getElementById("btn");
function register(){
  x.style.left = "-400px";
  y.style.left = "50px";
  z.style.left = "110px";
}
function login(){
  x.style.left = "50px";
  y.style.left = "450px";
  z.style.left = "0px";
}
</script>


  </body>
</html>
