<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <title>GAMEPAGE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../public/CODE3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
  <body>
    <div class="logo">
       <img src="logo.jpg">
    </div>
<!-- <div>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="WEBSITE2.html">Logout</a></li>

        <li><a href="#">Rules</a>
        <li><a href="#">Leaderboard</a>
        <li><a href="#">Profile</a>
        <li><a href="#">About Us</a>
          <ul>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Resources </a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Upcoming Games</a></li>
          </ul>
        </li>
      </ul>
    </div> -->

    <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class=" navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="WEBSITE2.html">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="form-box">
      <div class="input-box">
        <i class="fa fa-question"></i>
        <input type="question" placeholder="Question">
        </div>
        <div class="input-box">
          <i class="fa fa-check"></i>
          <input type="answer" placeholder="Answer" id ="myInput">
</div>
<button type="button" class="submit">SUBMIT</button>
</div>
<div class="logo">

</div>
<footer id ="footer">
<p> WEBDEV CREATIONS
<i class="fa fa-copyright"></i>Copyright
</p>
</footer>
</body>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  </html>
