<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>GAME OVER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../public/CODE4.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="logo">
       <img src="logo.jpg">
    </div>
    <div class="main">
      </div>
<div>
      <ul>

        <li><a href="#">Home</a></li>
        <li><a href="#">Menu </a></li>
        <li><a href="#">Login/Sign Up</a></li>
        <li><a href="#">About Us</a></li>
        <li class="active"><a href="#"> Play Now</a></li>

      </ul>
    </div>
    <div class="title">
      <h2>WEBDEV CREATIONS</h2>
            <i class="fa fa-copyright"></i>
    </div>
    <div class="form-box">
<h1>SCORE:</h1>
      <button type="button" class="quit">QUIT</button>
</div>
    </body>
  </html>
