<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>GAMEPAGE</title>
    <link rel="stylesheet" type="text/css" href="D:/css And Html programs/ISTE WEBDEV/public/CODE3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="logo">
       <img src="logo.jpg">
    </div>
    <div class="main">
      </div>
<div>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="WEBSITE2.html">Logout</a></li>
        <li><a href="#">Rules</a>
        <li><a href="#">Leaderboard</a>
        <li><a href="#">Profile</a>
        <li><a href="#">About Us</a>
          <ul>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Resources </a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Upcoming Games</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="title">
      <h2>WEBDEV CREATIONS</h2>
            <i class="fa fa-copyright"></i>
    </div>
    <div class="form-box">
      <div class="input-box">
        <i class="fa fa-question"></i>
        <input type="question" placeholder="Question">
        </div>
        <div class="input-box">
          <i class="fa fa-check"></i>
          <input type="answer" placeholder="Answer" id="myInput">
</div>
<button type="button" class="submit">SUBMIT</button>
    </body>
  </html>
